@import url('https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css');

.Login {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1 {
    padding-bottom: 50px;
}